   
   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   background: linear-gradient(135deg, #89f7fe, #66a6ff);  
  
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 15px;
  background-color: #1e1e2f; 
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

input {
  grid-column: span 4;
  height: 70px;
  border: none;
  border-radius: 15px;
  text-align: right;
  font-size: 28px;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  box-shadow: inset 2px 2px 6px #c8d0e7, inset -2px -2px 6px #ffffff;
  
}

.calculator button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: #2e2e3e;
  color: white;
  box-shadow: 3px 3px 6px #141414, -3px -3px 6px #2e2e3e;
  transition: all 0.2s ease-in-out;
}

.calculator button:hover {
  background: #444466;
  transform: scale(1.1); 
}

button.equal {
  width:120px;
  border-radius:50px;
  color: white;
  font-size: 30px; 
}
/* Responsive */

/* for mobile */
@media (max-width:480px) {
   .calculator {
     grid-template-columns: repeat(4, 55px);
     gap: 10px;
     padding: 15px;
   }
   input {
    height: 55px;
    font-size:22px;
   }
   .calculator button {
    width:50px;
    height:50px;
    font-size: 16px;
   }
   button.equal {
    width:100px;
    font-size:22px;
   }
}

/* for tablet */ 
@media (min-width:481px) and (max-width:768px) {
      .calculator {
         grid-template-columns: repeat(4, 65px);
         gap: 12px;
         padding: 20px;
   }
   input {
       height: 65px;
      font-size:25px;
   }
    .calculator button {
        width:55px;
        height:55px;
       font-size: 18px;
   }
   button.equal {
    width:110px;
    font-size:25px;
   }

}
/* for desktop */
@media (min-width:769px) {
   .calculator {
         grid-template-columns: repeat(4, 70px);
         gap: 15px;
         padding: 25px;
   }
   input {
       height: 70px;
      font-size:28px;
   }
    .calculator button {
        width:60px;
        height:60px;
        font-size: 20px;
   }
   button.equal {
    width:120px;
    font-size:30px;
   }
}
